::selection {
	background: #fb8f53;
	color: #fff;
}

::-moz-selection {
	background: #fb8f53;
	color:#fff;
}

::-webkit-selection {
	background: #fb8f53;
	color:#fff;
}

.table-wrapper {
	display: table;
}

.table-wrapper .cell {
	display: table-cell;
	vertical-align: middle;
}

.iframe-wrapper {
	display: flex;
	flex-direction: column;
  min-height: 100vh;
}

.iframe-wrapper iframe {
	background: #000;
  border: none;
  flex-grow: 1;
}