::selection {
	background: #fb8f53;
	color: #fff;
}

::-moz-selection {
	background: #fb8f53;
	color:#fff;
}

::-webkit-selection {
	background: #fb8f53;
	color:#fff;
}

.table-wrapper {
	display: table;
}

.table-wrapper .cell {
	display: table-cell;
	vertical-align: middle;
}

.iframe-wrapper {
	display: flex;
	flex-direction: column;
  min-height: 100vh;
}

.iframe-wrapper iframe {
	background: #000;
  border: none;
  flex-grow: 1;
}

.day-nav-wrapper {
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
}

.day-nav .pagination .page-item .page-link {
	display: flex;
	align-items: center;
	text-align: center;
	background: inherit;
	border-color: #373193;
	color: white;
	height: 100%;
	transition-duration: .3s;
}

.day-nav .pagination .page-item .page-link:hover {
	background: #373193;
	transition-duration: .3s;
}

.day-nav .pagination .active .page-link {
	background: #373193;
	border-color: #373193;
}