nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
	button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" style="")
		span.navbar-toggler-icon
	a(href="index.html" class="navbar-brand ml-lg-5") 100 Days of JavaScript
	div(id="navbarToggler" class="collapse navbar-collapse")
		ul.navbar-nav.ml-auto.mr-5
			li.nav-item.active
				a(href="index.html").nav-link Главная
			li.nav-item.ml-lg-3
				a(href="days.html").nav-link Days
			li.nav-item.ml-lg-3
				a(href="about.html").nav-link О нас